@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.navbar-brand{
  font-family: 'Dancing Script';
  font-size: 30px;
  color: #599596 !important;
  font-weight: 700;
}
.container-fluid{
  padding-left: 60px;
}
li{
  list-style-type: none;
  text-decoration: none;
}
.nav-social{
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  

}
.nav-social li{
  padding: 8px 10px 0 5px;
  
}
.nav-link{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 15px;
}
.register-button{
  display: flex;
  align-items: center;
  color: black;
  
}
.nav-link:hover{
  cursor: pointer;
}
@media(max-width:991px){
  .nav-social{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  
  }
  .nav-social li{
    padding-top: 5px;
    
  }
  ul.nav-social{
    margin: 0px;
    padding: 0px;
  }
  .nav-social a{
    padding: 8px 0 8px 0;
  }
  .container-fluid{
    padding-left: 20px;
  }
}